//- [q] 2012, sisoftrg@gmail.com
extends main

block scripts
  script
    var alerted = false;
    function has_news() {
      if(!alerted) {
        alerted = true;
        alert('You must read all news!');
      }
    }

mixin news(n)
  article
    header
      h1!= n[1]
      time(datetime=n[0]) Added: !{strftime('%e %B, %Y',strtotime($n[0]))}
    p!= n[2]


block prepend content
  if news
    each n in news
      +news(n)
      script
        has_news();
  else
    h2 Sorry, no news.

