:php
    class FooClass {
        public function met() {
            return 42;
        }
    }
    $ob = (object) array('foo' => array());
    $ob->foo['bar'] = new FooClass();
p(answear=ob->foo["bar"]->met())
p(answear=(ob->foo["bar"]->met()))
p(answear=substr("foobar", strlen("foo")))
p(answear=substr("foobar", strlen(strtoupper("F") . "oo")))
