!!! strict
a(href='/contact') contact
a(href='/save').button save
a(foo, bar, baz)
a(foo='foo, bar, baz', bar=1)
a(foo='((foo))', bar= 11 ? 1 : 0 )
select
  option(value='foo', selected) Foo
  option(selected, value='bar') Bar
a(yop bar baz)
a(yop='yop bar, baz' bar=1)
a(yop='((yop))' bar= 11 ? 1 : 0 )
select
  option(value='yop' selected) Foo
  option(selected value='bar') Bar
