<phpunit
    bootstrap="tests/lib/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <testsuites>
        <testsuite name="WhiteSpace">
            <file>tests/features/whiteSpace.php</file>
        </testsuite>
        <testsuite name="Templates">
            <file>tests/features/templates.php</file>
        </testsuite>
        <testsuite name="Issues">
            <file>tests/features/issues.php</file>
        </testsuite>
        <testsuite name="Exceptions">
            <file>tests/features/exceptions.php</file>
        </testsuite>
        <testsuite name="Features">
            <directory suffix=".php">tests/features</directory>
            <exclude>tests/features/templates.php</exclude>
            <exclude>tests/features/whiteSpace.php</exclude>
            <exclude>tests/features/issues.php</exclude>
            <exclude>tests/features/exceptions.php</exclude>
        </testsuite>
        <testsuite name="Compiler">
            <directory suffix=".php">tests/nodes</directory>
            <directory suffix=".php">tests/compiler</directory>
        </testsuite>
        <testsuite name="Performance">
            <directory suffix=".php">tests/performance</directory>
        </testsuite>
        <testsuite name="Example">
            <file>tests/example/example.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./coverage/result.xml" />
        <log type="coverage-html" target="./coverage/result" />
        <log type="coverage-text" target="./coverage/result.txt" />
    </logging>
</phpunit>
