mixin article(title, str)
  article.news
    h2= title
    p.body= str

#user
  h1 News
  .news-list
    +article('Something new', '2.0 is comming.')
    +article('An article', 'Some piece of text about anything.')
    +article('Third one', 'It comes after the first and the second.')
    +article('Last one', 'It comes after every other ones.')
  .news-list-twice
    +article('Something new', '2.0 is comming.')
    +article('An article', 'Some piece of text about anything.')
    +article('Third one', 'It comes after the first and the second.')
    +article('Last one', 'It comes after every other ones.')
